@import url('https://fonts.googleapis.com/css?family=Exo+2:200');

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
}
.main-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/first_slide_bg.jpg) no-repeat;
  background-size: cover;
  z-index: -1;
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparent;
  color: #fff;
  transition: all 300ms;
  z-index: 4;
  height: 90px;

  &>a{
    color: transparent;
  }

  &.scrolled {
    background-color: #fff;
    color: #000;
    height: 60px;
    .nav a:after {
      background-color: #000;
    }
    .logo {
      display: none;
    }
    .logo_scr {
      display: inline-block;
      position: relative;
      top: 4px;
    }
  }
  .logo_scr{
    display: none;
    height: 50px;
  }
  .logo {
    position: relative;
    top: -5px;
  }

  .nav {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    color: inherit;
    margin: 14px 0;
    z-index: 2;

    a {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      text-align: center;
      box-sizing: border-box;
      margin: 0 10px;
      font-size: 24px;
      font-weight: 200;
      position: relative;

      &:after{
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translate(-50%);
        background-color: #fff;
        transition: width 200ms;
      }

      &:hover:after {
        width: 90%;
      }
    }
  }

  .right-pos {
    display: inline-block;
    vertical-align: top;

    .tell{
      position: relative;
      font-size: 18px;
      font-family: 'Exo 2', sans-serif;
      display: inline-block;
      text-decoration: none;
      margin: 18px 0;
    }
    .zvonok1{
      text-decoration: none;
      font-size: 24px;
      color: #fff32e;
      padding: 0 12px;
      border: 1px solid #fff32e;
      border-radius: 4px;
      letter-spacing: -1.3px;
      font-weight: 300;
      transition: all 200ms;
      position: relative;
      top: 3px;
      &:hover{
        background-color: #fff32e;
        color: black;
      }
    }
  }

  .nav_item {
    display: inline-block;
  }
}

.section-content {
  margin-top: 200px;
}

.title-wrap {
  display: inline-block;
  background-color: rgba(0, 0, 0, .6);
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 32px;
  letter-spacing: 7.5px;
  font-weight: 700;

  .center-text {
    display: inline-block;
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 58px;
    position: relative;

    &:after {
      content: '3D';
      position: absolute;
      font-weight: 700;
      top: -40px;
      border-radius: 7px;
      left: 50%;
      transform: translate(-50%);
      width: 70px;
      height: 58px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      letter-spacing: normal;
    }
  }
}
.starwars {
  display: block;
  margin: 20px auto 0;
  max-width: 470px;
  width: 100%;
}

.btns-wrap {
  margin: 20px 0;
  .btn {
    background-color: #fff32e;
    border-radius: 6px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    letter-spacing: 8px;
    font-weight: bolder;
    display: inline-block;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 5px 5px;
    transition: all 200ms;

    &:hover {
      color: #fff;
      background-color: #222;
    }
    &.btn2 {
      background-color: rgba(0, 0, 0, .6);
      color: #fff;
      border: 1px solid #fff;
      &:hover {
        color: black;
        background-color: #fff32e;
      }
    }
  }
}


.section {
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  &.sec1 {
    height: 100vh;
    background-color: transparent;
    min-height: 670px;
  }
  &.sec2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &.sec5 {
    height: 100vh;
    background-color: #292c2e;
    min-height: 670px;
    padding-top: 60px;
  }
}
.section-title {
  margin: 10px 0;
  font-size: 36px;
}

.tabs {
  font-size: 0;
  margin: 20px 0 50px;
  a {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    text-align: center;
    line-height: 100px;
    white-space: nowrap;
    position: relative;
    border: 1px solid darken(#fff32e,15%);
    box-shadow: 1px 1px 1px rgba(0,0,0,.4);
    transition: all .3s;

    &:hover {
      background-color: rgba(#fff32e,.7);

    }
    
    &.active {
      background-color: #fff32e;
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.swiper-wrapper {
  margin-top: 50px;
  overflow: hidden;
  .swiper-slide{
    width: 90%;
    text-align: center;
    img {
      width: 85%;
      max-width: 600px;
    }
  }
  .product-title {
    font-size: 28px;
    font-weight: bold;
  }
  .scroll-view{
    background-color: rgba(0,0,0,.6);
    color: #fff;
    border: 1px solid #fff;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .price-wrap {

    strong {
      font-size: 22px;
    }
    .btn {
      background-color: #fff32e;
      border-radius: 6px;
      font-size: 26px;
      font-weight: bolder;
      display: inline-block;
      text-decoration: none;
      color: #000;
      box-sizing: border-box;
      padding: 5px 10px;
      margin: 0 5px 5px;
      transition: all .2s;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #222;
      }
    }
  }
}
.popup2 {
  display: none;
}


.box5{
  background-color: #292c2e;
  text-align: center;
  margin-top: 550px;
  height: 620px;
  border-bottom: 1px solid #a9aaab;
}
.text51{
  position: relative;
  left: 50px;
  float: none;
  padding-right: 80px;
  padding-top: 45px;
  color: #fff;
  font-size: 24px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 5px;
  font-weight: bolder;
}
.text52{
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  color: #bdbebe;
  padding-top: 10px;
  padding-bottom: 65px;
}
.spisok li{
  float: left;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  margin-right: 65px;
}
.spisok li:nth-child(2){
  margin-right: 55px;
}
.spisok li:nth-child(3){
  margin-right: 50px;
}
.spisok{
  margin-left: 185px;
}
.pidspisok{
  margin-left: 182px;
  padding-top: 9px;
  padding-bottom: 60px;
}
.knopka51{
  text-decoration: none;
  color: #292c2e;
  background-image: url(public/images/knopka3.png);
  background-repeat: no-repeat;
  width: 180px;
  height: 39px;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 6px;
  font-weight: bold;
  padding-top: 7px;
  margin-left: 566px;
}
.knopka51:hover{
  background-image: url(public/images/knopka33.png);
  color: black;
}
.text53{
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 5px;
}
.text54{
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #bdbebe;
}
footer{
  background-color: #505050;
  height: 85px;
}
.face{
  float: left;
  padding: 35px 0 0 165px;
}
.insta{
  float: left;
  padding: 36px 0 0 20px;
}
.vk{
  float: left;
  padding: 35px 0 0 20px;
}
.border0{
  float: left;
  padding: 20px 10px 0 10px;
}
.tel0{
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
  padding: 22px 0 0 10px;
  float: left;
  padding-right: 135px;
}
.tel0 p{
  padding-bottom: 10px;
}
.tel0 p:last-child{
  padding-bottom: 0;
}
.textf{
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
  padding: 64px 0 0 0;
  float: left;
}
.textff{
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
  padding-top: 64px;
  float: right;
  padding-right: 177px;
}
