@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,700');

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;

  &.modal-show {
    overflow: hidden;
    padding-right: 15px;
  }
}
.main-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/phon11.jpg) no-repeat;
  background-size: cover;
  z-index: -1;
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparent;
  color: #fff;
  transition: all 300ms;
  z-index: 4;
  height: 90px;

  .tell {
    color: #fff;
  }

  &>a{
    color: transparent;
  }

  &.scrolled {
    background-color: #fff;
    color: #000;
    height: 60px;
    box-shadow: 0 0 5px #666;
    .nav a:after {
      background-color: #000;
    }
    .tell {
      color: #000;
    }

    .logo {
      display: none;
    }
    .logo_scr {
      display: inline-block;
      position: relative;
      top: 4px;
    }
    .right-pos .zvonok1{
      color: #000;
      border: none;
      background-color: #fff32e;
      &:hover{
        background-color: #000;
        color: #fff;
      }
    }
  }
  .logo_scr{
    display: none;
    height: 50px;
  }
  .logo {
    position: relative;
    top: -5px;
  }

  .nav {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    color: inherit;
    margin: 14px 0;
    z-index: 2;

    a {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      text-align: center;
      box-sizing: border-box;
      margin: 0 10px;
      font-size: 24px;
      font-weight: 200;
      position: relative;

      &:after{
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translate(-50%);
        background-color: #fff;
        transition: width 200ms;
      }

      &:hover:after {
        width: 90%;
      }
    }
  }

  .right-pos {
    display: inline-block;
    vertical-align: top;

    .tell{
      position: relative;
      font-size: 18px;
      font-family: 'Exo 2', sans-serif;
      display: inline-block;
      text-decoration: none;
      margin: 18px 0;
    }
    .zvonok1{
      text-decoration: none;
      font-size: 20px;
      color: #fff32e;
      padding: 5px 12px;
      border: 1px solid #fff32e;
      letter-spacing: -1.3px;
      font-weight: 400;
      text-transform: uppercase;
      transition: all 200ms;
      border-radius: 5px;
      position: relative;
      top: 3px;
      margin-left: 10px;
      &:hover{
        background-color: #fff32e;
        color: black;
      }
    }
  }

  .nav_item {
    display: inline-block;
  }
}

.section-content {
  margin-top: 200px;
}

.title-wrap {
  display: inline-block;
  background-color: rgba(0, 0, 0, .6);
  padding: 5px 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 32px;
  letter-spacing: 7.5px;
  font-weight: 700;

  .center-text {
    display: inline-block;
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 58px;
    position: relative;

    &:after {
      content: '3D';
      position: absolute;
      font-weight: 700;
      top: -40px;
      border-radius: 7px;
      left: 50%;
      transform: translate(-50%);
      width: 70px;
      height: 58px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      letter-spacing: normal;
    }
  }
}
.starwars {
  display: block;
  margin: 20px auto 0;
  max-width: 470px;
  width: 100%;
}

.btns-wrap {
  margin: 20px 0;

  .btn {
    background-color: #fff32e;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 0 24px;
    border-radius: 5px;
    margin: 0 5px 5px;
    font-weight: 500;
    transition: all 200ms;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #222;
    }

    &.cust-ntn {
      color: #000;
      background-color: #fff;
      border: 1px solid black;

      &:hover {
        color: #fff;
        background-color: #000;
      }

    }

    &.btn2 {
      background-color: rgba(0, 0, 0, .6);
      color: #fff;
      border: 1px solid #fff;
      &:hover {
        color: black;
        background-color: #fff;
      }
    }
  }
}


.section {
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  &.sec1 {
    height: 100vh;
    background-color: transparent;
    min-height: 670px;
  }
  &.sec2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &.sec4 {
    min-height: 100vh;
    background: url("./../images/cutted_blur.jpg") no-repeat;
    background-size:cover;
  }

  &.sec5 {
    background-color: #292c2e;
    min-height: 100vh;
  }
}
.section-title {
  margin: 10px 0;
  font-size: 36px;
}

.tabs {
  font-size: 0;
  margin: 20px 0 50px;
  a {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
    text-align: center;
    line-height: 100px;
    white-space: nowrap;
    position: relative;
    border: 1px solid darken(#fff32e,15%);
    transition: all .3s;

    &:hover {
      box-shadow: 0 0 2px 4px rgba(#fff32e,.4);
    }

    &.active {
      box-shadow: 0 0 2px 4px rgba(#fff32e,.4);
      img {
        zoom: 1.2;
      }
    }
    
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.tell {
  color: #fff;
  text-decoration: none;
}
.swiper-wrapper {
  margin-top: 50px;
  overflow: hidden;
  .swiper-slide{
    width: 90%;
    text-align: center;
    img {
      width: 85%;
      max-width: 600px;
    }
  }
  .product-title {
    font-size: 28px;
    font-weight: bold;
  }
  .scroll-view{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.price-wrap {
  strong {
    font-size: 22px;
  }
  .buy-btn {
    background-color: #fff32e;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    padding: 5px 24px;
    margin: 10px 5px 5px;
    transition: all .2s;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #222;
    }
  }
}
.sec3 {
  background-color: #fafafa;
  border-top: 1px solid #eee;
}
.sec4 {
  position: relative;
  .section-title {
    font-size: 44px;
    margin-top: 60px;
    background-color: rgba(gray,.4);
    color: #fff;
    padding: 20px;
  }
  .comments {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
    text-align: center;

    &-item {
      display: inline-block;
      background-color: gainsboro;
      vertical-align: top;
      border-radius: 5px;
      margin: 40px;
      padding: 10px;
      white-space: nowrap;
      box-shadow: 1px 1px 5px  #fff;

      h1{
        font-size: 22px;
        margin: 0;
        padding: 0;
      }
      p {
        display: inline-block;
        max-width: 200px;
        font-size: 16px;
        text-align: left;
        padding: 5px;
      }

      .text-wrap {
        display: inline-block;
        white-space: normal;
      }
      img {
        width: 163px;
        height: 163px;
        vertical-align: top;
      }
    }
  }
}
.sec5 {
  position: relative;
  color: #fff;
  .section-title {
    font-size: 44px;
    margin-top: 80px;
  }
  .section-descr {
    font-size: 22px;
    color: #bdbebe;
  }
  .buy-descr {
    font-size: 26px;
  }
  .footer-descr {
    font-size: 22px;
    color: #bdbebe;
    max-width: 500px;
    margin: 0 auto  140px;
    padding: 0 15px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #505050;
    border-top: 1px solid #fff;
    padding-top: 20px;
  }


  .list {
    margin: 80px auto 30px;
    font-size: 0;

    .compare-item {
      display: inline-block;
    }

    &-item {
      font-size: 24px;
      display: inline-block;
      margin: 0 20px;
      img {
        display: block;
        margin: 30px auto;
      }
    }
  }
}


.box-descr {
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
  padding: 0 20px;
  line-height: 1.4;

  &__item {
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;

    img {
      float: left;
      width: 350px;
      margin: 0 10px 10px 0;
    }
    .img-package {
      float: right;
    }
    strong {
      font-size: 30px;
      font-weight: 700;
    }
  }
}
.video-wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px 20px;
}
.video-frame {
  display: inline-block;
  vertical-align: bottom;
  width: 560px;
  height: 0;
  padding-bottom: 31.5%;
  position: relative;

  .prev-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 5px;
    border-radius: 50%;
    background: url("./../images/circle-left.svg") no-repeat;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
      zoom: 1.2;
    }

  }
  .next-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 5px;
    border-radius: 50%;
    background: url("./../images/circle-right.svg") no-repeat;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
      zoom: 1.2;
    }
  }

  &[data-vid="0"]{
    iframe[data-id="0"]{
      display: block;
    }
  }
  &[data-vid="1"]{
    iframe[data-id="1"]{
      display: block;
    }
  }
  &[data-vid="2"]{
    iframe[data-id="2"]{
      display: block;
    }
  }
}
.video-frame iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.joda {
  display: inline-block;
  vertical-align: top;
  position: relative;

  img {
    width: 380px;
  }

  .text {
    position: absolute;
    left: 450px;
    top: 110px;
    white-space: nowrap;
    font-size: 28px;
    padding: 10px;
    border-radius: 5px 20px;
    border: 1px solid black;
    color: #000;
    font-weight: 400;

    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: -8px;
      top: 50%;
      margin-top: -7px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right:8px solid #000;
    }
  }
}
.video-title{
  margin: 10px 0;
  font-size: 36px;
  display: none;
}
.soc-btn {
  display: inline-block;
  vertical-align: top;
}
.tel-foot {
  display: inline-block;
  vertical-align: top;
}
.tel-foot p{
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
